asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==6.0.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
idna==3.18
packaging==26.2
PyJWT==2.13.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
drf-spectacular==0.30.0
attrs==26.1.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==2026.6.3
uritemplate==4.2.0
resend==2.47.0
typing_extensions==4.16.0
psycopg[binary]==3.3.6
